body {
    background-color: #984b43;
}

.underline {
    width: 200px;
    height: 2px;
    background-color: #FFCC00;
    position: absolute;
    left: 58px;
    top: 199px;
    margin-left: 600px;
}

.line {
    width: 585px;
    height: 2px;
    background-color: #FFCC00;
    position: absolute;
    left: 2px;
    top: 70px;
    margin-left: 600px;
}

.box {
    width: 1920px;
    height: 1050px;
    background-color: #233237;
    /* box-shadow: 10px 10px 5px #D3D3D3; */
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    outline: #000000 solid thin;
    /* margin-left: 200px; */
}

h1,
p,
.godname {
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h1 {
    font-size: 40px;
    margin-left: 600px;
    color: white;
}

p {
    font-size: 32px;
    margin-left: 650px;
}

.refresh {
    margin-left: 650px;
}

.god {
    margin-left: 650px;
}

.godname {
    font-size: 20px;
    margin-left: auto;
}

.itemlist {
    width: 300px;
    display: inline-block;
    font-size: 20px;
    margin-left: 615px;
}

.itembuttons {
    width: auto;
    vertical-align: top;
    margin: 10px 40px;
    display: inline-block;
}

.reliclist {
    width: 165px;
    display: inline-block;
    font-size: 20px;
    margin-left: 615px;
}

.relicbuttons {
    width: auto;
    display: inline-block;
    height: 70px;
    vertical-align: top;
    margin: 15px 20px;
}

.relicButton {
    display: inline-block;
    margin: 2px;
    margin-top: 20px;
}

.gbutton,
.rfbutton {
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.gbutton:hover,
.rfbutton:hover {
    border: 2px solid #984b43;
}

button.gbutton span:after,
button.rfbutton span:after {
    content: '\f021';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.gbutton:hover span:after,
button.rfbutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

button.rfbutton span:after {
    content: '\f1da';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

.ibutton {
    width: 100px;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.ibutton:hover {
    border: 2px solid #984b43;
}

button.ibutton span:after {
    content: "\f021";
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.ibutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

.rbutton {
    width: 160px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.rbutton:hover {
    border: 2px solid #984b43;
}

button.rbutton span:after {
    content: '\f021';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.rbutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

li {
    margin: 22px;
    color: white;
}

form {
    margin: 5px;
}