body {
    background-color: #77c9d4;
}

.underline {
    width: 200px;
    height: 2px;
    background-color: #FFCC00;
    position: relative;
    left: 7px;
    top: 0px;
}

.line {
    width: 585px;
    height: 2px;
    background-color: #FFCC00;
    position: absolute;
    left: 7px;
    top: 70px;
}

.box {
    width: 1920px;
    height: 1050px;
    background-color: #0b3c5d;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    outline: #000000 solid thin;
}

h1, p, .godname {
    font-family: "Times New Roman", Times, serif;
    color: white;
}

h1 {
    font-size: 40px;
    color: white;
}

p {
    font-size: 32px;
}

.refresh {
   float: none;
}

.god {

}

.godname {
    font-size: 20px;
}

.itemlist {
    width: 300px;
    display: inline-block;
    font-size: 20px;
}

.itembuttons {
    width: auto;
    vertical-align: top;
    margin: 34px 40px;
    display: inline-block;
}

.reliclist {
    width: 165px;
    display: inline-block;
    font-size: 20px;
}

.relicbuttons {
    /* width: auto; */
    display: inline-block;
    /* height: 69px; */
    vertical-align: top;
    margin: 50px 40px;
}

.relicButton {
    display: inline-block;
    margin: 2px;
    margin-top: 20px;
}

.gbutton, .rfbutton {
    width: 236px;
    height: 68px;
    padding: -1px 0px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.gbutton:hover, .rfbutton:hover {
    border: 2px solid #FFCC00;
}

button.gbutton span:after, button.rfbutton span:after {
    content: '\f021';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.gbutton:hover span:after, button.rfbutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

button.rfbutton span:after {
    content: '\f1da';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

.ibutton {
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.ibutton:hover {
    border: 2px solid #FFCC00;
}

button.ibutton span:after {
    content: "\f021";
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.ibutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

.rbutton {
    width: 160px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: white;
    background: rgba(224, 224, 224, 0.24);
    border: 2px solid #bdbdbd;
}

.rbutton:hover {
    border: 2px solid #FFCC00;
}

button.rbutton span:after {
    content: '\f021';
    font-family: FontAwesome;
    padding-left: 10px;
    opacity: 0;
}

button.rbutton:hover span:after {
    opacity: 1;
    transition: all 1s;
}

li {
    height: 10px;
    margin: 50px;
    color: white;
}

form {
    margin: 5px;
}

.error {
    outline: solid red;
    width: 275px;
}

ul {
    list-style-type: content:'\f054';
}

.god_image {
    height: 420px;
    border: solid;
    float: left;
}

.disclaimer {
    font-size: 11px;
    color: black;
}

.item_images {
    float: left;
}

.item_image {
    width: 65px;
    border: solid;
    float: none;
    display: block;
}

.item_form_buttons {   
    margin: 0px;
}

.godReroll {
    float: left;
}

.relic_images {
    float: left;
}

.relic_image {
    width: 65px;
    border: solid;
}